@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&family=Satisfy&display=swap');

body {
    background-image: url("okno_v1.mp4");
    background-color: rgb(30, 17, 13);
}

input {
    margin-top: 10px;
}

.btn {
    margin-top: 10px;
}

.slider{
    max-width: 1600px;
    max-height: 900px;
    overflow: hidden;
    border: 10px solid #e79955;
    z-index: 3;
}

.middle{
    position: absolute;
    top: 80vh;
    left: 50%;
    transform: translate(-50%);
    margin-top: -30%;
}

.slides{
    width: 400%;
    height: 100%;
    display: flex;
}

.slide{
    width: 25%;
    transition: all .6s ease;
}

.slide img{
    width: 100%;
    height: 100%;
}

#r1:checked ~ .s1{
    margin-left: 0;
}

#r2:checked ~ .s1{
    margin-left: -25%;
}

#r3:checked ~ .s1{
    margin-left: -50%;
}

#r4:checked ~ .s1{
    margin-left: -75%;
}

.navigation{
    display: flex;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
}

.bar{
    display: flex;
    align-items: center;
    height: 8px;
    width: 30px;
    margin: 6px;
    cursor: pointer;
    background-color: #823434;
    opacity: .7;
    border-radius: 10px;
    transition: all 0.4s ease;
}

.bar:hover{
    opacity: 0.8;
    transform: scale(1.1);
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}


.tableTitle {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: rgb(170, 38, 38);
    font-size: 3vh;
    font-family: 'Rubik Doodle Shadow';
}

.shoesGrid {
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 13px;
}

.cell {
    background-color: #e79955;
    margin-top: 10px;
    padding: 15px;
    border-radius: 8px;
    transition: transform 0.3s;
}

.intro {
    max-height: 100vh;
    overflow: hidden;
    position: relative;
}

.intro:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.0), rgb(30, 17, 13, 1));
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.intro-content {
    color: rgb(255, 92, 80);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.intro-title {
    margin-bottom: 50%;
    margin: 1;
    font-family: 'Satisfy';
    font-size: 10vh;
    font-weight: 100;
    color: coral;
    text-align: left;
}

.video {
    position: relative;
    padding-bottom: 56.25%;
}

.media {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}
